body {


}


.item1 {  
background: blue;

 }
  
.item2 {
background: yellow; 
   
  }
  
.item3 {
background: red;
    
    
  }

  


.container {

width: 100%;
background: LightGray;
display: grid;



    

      } 

      #title {

        color:red;
      }

      figure {

        background: white;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        max-width: 850px;
        

      }

      figcaption {

        padding:  10px;

      }

      #image {
        
        border-radius: 5px 5px 0px 0px;

        
        
        


      } 



      #tribute-link:link, #tribute-link:visited {
        color: #99B3D2;
        text-decoration: none;

      }
      #tribute-link:hover, #tribute-link:active {
        color: #4BC1E5;
         text-decoration: underline;


      }


